:root {
  --bg: #000000;
  --neon: #ff0040;
  --text: #ffffff;
}

/*RESET*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*LINKS */

a {
  color: var(--neon);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER / NAVEGAÇÃO */

.site-header {
  border-bottom: 10px solid rgba(255, 0, 64, 0.253);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 24px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--neon);
}

.nav-list {
  display: flex;
  gap: 18px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  display: inline-block;
  padding: 8px 14px;

  color: var(--text);
  opacity: .9;

  border-radius: 999px;
  transition: .18s ease;
}

.nav-list a:hover {
  transform: translateY(-3px);
  background: rgba(255, 0, 64, .24);
  box-shadow: 0 8px 20px rgba(255, 0, 64, .06);
}

/*HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 60vh;
  max-width: 1500px;
  padding: 24px;

  text-align: center;
  flex: 1;
}

.hero-title {
  margin: 0;
  font-size: 44px;
  color: var(--text);

  text-shadow: 0 0 16px rgba(255, 0, 64, .28);
}

.hero-sub {
  margin-top: 8px;
  font-size: 22px;
  color: rgba(255,255,255,.9);
}

.hero-lead {
  margin-top: 12px;
  color: rgba(255,255,255,.7);
}

/*CONTAINER*/

.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 20px;
}

/*CARDS*/

main,
.container,
section,
article,
.project-content,
.github-info,
.services-list li,
.hero,
.hero-lead,
.container > h1,
.container > p {
  margin-bottom: 16px;
  padding: 16px;

  border: 0px solid rgba(255,255,255,.06);
  border-radius: 12px;

  background: rgba(255,255,255,.01);
}

/*PROJETOS */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
  border: 1px solid rgba(255,255,255,.06);
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  max-width: 900px;

  margin: 0;
  padding: 10px;

  border: 1px solid rgba(255,0,64,.06);
  border-radius: 8px;

  background: rgba(24, 24, 24, 0.089);
}

.project-content {
  margin: 0;
  padding: 10px;

  background: transparent;
  border-radius: 0;
}

.project-content h2 {
  margin: 10px 0;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 100px;

  overflow: hidden;

  color: #000;
  font-weight: 700;

  border-radius: 6px;

  background: linear-gradient(135deg, var(--neon), #ff6b6b);
}

.thumb img {
  width: 100%;
  height: 165%;
  object-fit: cover;
}

/*SERVIÇOS */

.services-list {
  display: grid;
  gap: 12px;

  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 0, 64, 0.384);
}

.services-list li {
  padding: 16px;

  border: 1px solid rgba(255,0,64,.05);
  border-radius: 8px;

  background: rgba(255,0,64,.02);
}

/* ===========================
   CONTATO
=========================== */

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 0, 64, 0.384);
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Whatsapp,
.Gmail {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

/* ===========================
   FOOTER
=========================== */

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;

  text-align: center;

  border-top: 1px solid rgba(255,0,64,.06);
}

/* ===========================
   DESKTOP
=========================== */

@media (min-width: 800px) {

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .thumb {
    width: 180px;
    height: 120px;
  }

}

/*MOBILE*/

@media (max-width: 640px) {

  .nav {
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .nav-list {
    gap: 8px;
    flex-wrap: wrap;
  }

  .nav a {
    display: inline-block;
    padding: 8px 14px;

    border-radius: 999px;

    background: rgba(255,0,64,.24);
    box-shadow: 0 8px 20px rgba(255,0,64,.06);
  }

  .hero {
    min-height: 10vh;
    padding: 0px;
  }

  .container a {
    display: inline-block;

    min-width: 150px;
    padding: 10px 14px;

    text-align: center;

    border-radius: 999px;

    background: rgba(255,0,0,.24);
    box-shadow: 0 8px 20px rgba(255,0,64,.06);
  }

  .site-header {
    border-bottom: 10px solid rgba(255,0,64,.253);
  }

  main,
  .container,
  section,
  article,
  .project-content,
  .github-info,
  .services-list li {
    padding: 12px;
    border-radius: 10px;
  }

}

/*VIEW TRANSITIONS*/

@view-transition {
  navigation: auto;
}

@keyframes saindo {
  to {
    transform: translateX(-100%);
  }
}

@keyframes entrando {
  from {
    transform: translateX(100%);
  }
}

::view-transition-group(root) {
  animation-duration: 1s;
}

::view-transition-old(root) {
  animation-name: saindo;
}

::view-transition-new(root) {
  animation-name: entrando;
}