:root {
  --bg: #000000;
  --neon: #ff0040;
  --text: #ffffff;
}

/*RESET*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*LINKS */

a {
  color: var(--neon);
  text-decoration: none;
  position: relative; 
}

a:hover {
  text-decoration: underline;
}

/* HEADER / NAVEGAÇÃO */

.logo img {
  width: 120px; 
  height: 120px;
}

.site-header {
  border-bottom: 10px solid rgba(255, 0, 64, 0.253);
  position: relative; 
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 24px;
  position: relative; 
}

.nav-list {
  display: flex;
  gap: 18px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  display: inline-block;
  padding: 8px 14px;

  color: var(--text);
  opacity: .9;

  border: 0px; 
  border-radius: 999px;
  transition: .18s ease;
  position: relative; 
}

.nav-list a:hover {
  transform: translateY(-3px);
  background: rgba(255, 0, 64, .24);
  box-shadow: 0 8px 20px rgba(255, 0, 64, .06);
  position: relative; 
}

/*HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 60vh;
  max-width: 1500px;
  padding: 24px;

  text-align: center;
  flex: 1;

  margin: 0 auto; 
}

.hero-title {
  margin: 0;
  font-size: 44px;
  color: var(--text);

  text-shadow: 0 0 16px rgba(255, 0, 64, .28);
}

.hero-sub {
  margin-top: 8px;
  font-size: 22px;
  color: rgba(255,255,255,.9);
}

.hero-lead {
  margin-top: 12px;
  color: rgba(255,255,255,.7);
}

/*CONTAINER*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 20px;
}

/*CARDS*/

main,
.container,
section,
article,
.project-content,
.github-info,
.services-list li,
.hero,
.hero-lead,
.container > h1,
.container > p {
  margin-bottom: 16px;
  padding: 16px;

  border: 0px solid rgba(255,255,255,.06);
  border-radius: 12px;

  background: rgba(255,255,255,.01);
}

/*PROJETOS */

.luz {
  opacity: 0;
  transition: opacity 0.5s ease; 

  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  
  background: radial-gradient(circle, rgba(255,0,64,0.4) 0%, rgba(255,0,64,0) 75%); 

  position: absolute; 
  pointer-events: none;


}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
  border: 1px solid rgba(255,255,255,.06);
  position: relative; 
  overflow: hidden; 

  backdrop-filter: blur(80px);
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  max-width: 900px;

  margin: 0;
  padding: 10px;

  border: 1px solid rgba(255,0,64,.06);
  border-radius: 8px;

  background: rgba(24, 24, 24, 0.089);
  overflow: hidden; 
}

.project-content {
  margin: 0;
  padding: 10px;
  width: 100%;

  background: transparent;
  border-radius: 0;
  position: relative; 
  overflow: hidden; 
}

.project-content h2 {
  margin: 10px 0;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 100px;

  overflow: hidden;

  color: #000;

  border-radius: 6px;

  background: linear-gradient(135deg, var(--neon), #ff6b6b);
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SERVIÇOS */

.services-list {
  display: grid;
  gap: 12px;

  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 0, 64, 0.384);
}

.services-list li {
  padding: 16px;

  border: 1px solid rgba(255,0,64,.05);
  border-radius: 8px;

  background: rgba(255,0,64,.02);

}

.services-list li del{
  color: rgba(255,0,64,.4); 
}

/*CONTATO*/

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 0, 64, 0.384);
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-list li a{
  color: var(--text); 
}

.Whatsapp{
  width: 65px;
  height: 65px;
  margin-right: 3px;
  margin-left: 12px; 
}

.Gmail {
  width: 55px;
  height: 45px;
  margin-right: 12px;
  margin-left: 18px; 
}

.Instagram {
  width: 65px;
  height: 65px;
  margin-right: 7px;
  margin-left: 13px; 
  margin-bottom: 12px;
}
/*FOOTER*/

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;

  text-align: center;

  border-top: 1px solid rgba(255,0,64,.06);
}

/*DESKTOP */

@media (min-width: 800px) {

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .thumb {
    width: 180px;
    height: 145px;
  }

}

/*MOBILE*/

@media (max-width: 640px) {

    .thumb {
    width: 180px;
    height: 145px;
  }

  .mobile-nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    width:100%;
    gap:20px;
}

.logo {
    width: 150px;
    height: auto;
}

.menu-btn{

    display:flex;

    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:50px;
    height:50px;

    cursor:pointer;

    border:none;
    background:none;

}

.menu-btn span{

    width:28px;
    height:3px;

    margin:3px 0;

    border-radius:999px;

    background:white;

    transition:.35s;

}

.menu-btn.active span:nth-child(1){

    transform:
        rotate(45deg)
        translate(6px,6px);

}

.menu-btn.active span:nth-child(2){

    opacity:0;

}

.menu-btn.active span:nth-child(3){

    transform:
        rotate(-45deg)
        translate(6px,-6px);

}

.mobile-menu{
    display:flex;
    flex-direction:column;
    align-items:center;

    width:100%;

    gap:12px;

    list-style:none;
    padding:0;
    margin:0;

    max-height:0;
    overflow:hidden;
    opacity:0;

    transition:
        max-height .4s ease,
        opacity .3s ease;
}

.mobile-menu a{

   display: inline-block;

    min-width: 150px;
    padding: 10px 14px;

    text-align: center;

    border-radius: 999px;

    background: rgba(255,0,0,.24);
    box-shadow: 0 8px 20px rgba(255,0,64,.06);
}

.mobile-menu.active{

    max-height:400px;

    opacity:1;

}

  .nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .nav-list {
    gap: 8px;
    flex-wrap: wrap;
  }

  .nav-list a {
    display: inline-block;
    padding: 8px 14px;

    border-radius: 999px;

    background: rgba(255,0,64,.24);
    box-shadow: 0 8px 20px rgba(255,0,64,.06);
  }

  .hero {
    min-height: 5vh;
    padding: 0px;
  }

  .container a {
    display: inline-block;

    min-width: 150px;
    padding: 10px 14px;

    text-align: center;

    border-radius: 999px;

    background: rgba(255,0,0,.24);
    box-shadow: 0 8px 20px rgba(255,0,64,.06);
  }

    .container {
    margin-top: 0 auto; 
    background: rgba(0, 0, 0, 0.24);
  }

  .site-header {
    border-bottom: 10px solid rgba(255,0,64,.253);
  }

  main,
  .container,
  section,
  article,
  .project-content,
  .github-info,
  .services-list li {
    padding: 5px;
    border-radius: 10px;
  }

}

/*VIEW TRANSITIONS*/

@view-transition {
  navigation: auto;
}

@keyframes saindo {
  to {
    transform: translateX(-100%);
  }
}

@keyframes entrando {
  from {
    transform: translateX(100%);
  }
}

::view-transition-group(root) {
  animation-duration: 1s;
}

::view-transition-old(root) {
  animation-name: saindo;
}

::view-transition-new(root) {
  animation-name: entrando;
}